.servicos__cards{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-size: 18px;
}

.servicos__cards li{
    display: inline-block;
    width: min-content;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.servicos__cards li:hover{
    border-color: #c78c19;
}

.servicos__cards li:hover h2{
    font-size: 32px;
}

.servicos__cards li:active{
    border-color: #088C19;
}

.servicos__cards h2{
    font-size: 30px;
    font-weight: bold;
}

.servicos--precos{
    font-size: 22px;
    font-weight: bold;
}